.education__title {
		  margin-bottom: 1rem;
    }
	
    
    .education__heading {
        padding-bottom: 0;
		  margin-bottom: 3px;
    }
	
    
    .education__subheading {
        margin: 0 auto;
        color: gray;
    }
	
    
    .education__text {
		color: gray;
	}
	
    
    .education__section {
      display: block;
	}
	
    
    @media (min-width: 530px){
	
    
    .education__section {		
		display: -webkit-box;		
		display: -ms-flexbox;		
		display: flex
	}
    }
	
    
    .education__subsection {
 		-webkit-box-flex: 1;
 		    -ms-flex: 1;
 		        flex: 1;
	}
	
    
    .education__section-text {
		font-style: italic;
		color: #bd5d38;
	}
	
    
    @media (min-width: 530px){
	
    
    .education__section-text {
		float: right;
		padding: 3rem
	}
    }
	
    
    .education__courses-completed {
		margin-bottom: 0.5rem;
	}

html, body {
    background: #fff;
    height: 100%;
    font-family: 'Roboto', sans-serif;
	 margin: 0;
	 color: #868e96;
}

.contact-icons {
    text-align: left;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
}

.contact-icons li {
    padding: 10px 15px 10px 0px;
    color: #495057;
    }

.contact-icons a {
	text-decoration:none;
	color: #495057;
	}

ul {
    list-style: none;
    display: inline;
    padding: 0;
}

a:-webkit-any-link {
    color: inherit;
}

h2 {
	font-family: "Saira Extra Condensed", serif;
	font-size: 3.5rem;
	color:  #343a40;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	font-family: "Saira Extra Condensed", serif;
	font-size: 1.75rem;
	text-transform: uppercase;
	color:  #343a40;
}

/*
*|*link {
	color: #495057;
}
*/

.navbar {
	 background-color: #bd5d38;
    width: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
    height: 4%;
    width: 100%;
    position: fixed;
    padding: 10px 0;
	
}

.navbar--is-expanded {
		height: 30%;
	}

@media (min-width: 530px){

.navbar {
    height: 100%;
    width: 17rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #bd5d38;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s
	
}
    }

.navbar img {
        width: 160px;
        height: 160px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 50%;
		  border: .5rem solid rgba(255,255,255,.2);
		  display: none;
    }

@media (min-width: 530px){

.navbar img {
			display: block
    }
    }

.navbar__item {
        text-transform: uppercase;
        color: rgba(255,255,255,.5); 
        display: block;
        padding: 0.6rem;
		  font-weight: 700;
    }

.navbar__item a {
        text-decoration: none;
		  color: inherit;
    }

.navbar__item a:hover {
        color: white;
    }

.navbar__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto;
		  display: none;
    }

.navbar__list--is--visible {
				display: block;
			}

@media (min-width: 530px){

.navbar__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;           /* establish flex container */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;  /* make main axis vertical */
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; /* center items vertically, in this case */
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;     /* center items horizontally, in this case */
        padding: 1rem
    }
    }

.navbar__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 10px;
    }

.navbar__menu-icon::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
            -webkit-transition: -webkit-transform .3s ease-out;
            transition: -webkit-transform .3s ease-out;
            transition: transform .3s ease-out;
            transition: transform .3s ease-out, -webkit-transform .3s ease-out;
        }

.navbar__menu-icon__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
            -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
        }

.navbar__menu-icon::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            -webkit-transform-origin: 0 100%;
                    transform-origin: 0 100%;
            -webkit-transition: -webkit-transform .3s ease-out;
            transition: -webkit-transform .3s ease-out;
            transition: transform .3s ease-out;
            transition: transform .3s ease-out, -webkit-transform .3s ease-out;
        }

@media (min-width: 800px){

.navbar__menu-icon {
            display: none
    }
    }

.navbar__menu-icon--close-x::before {
            -webkit-transform: rotate(45deg) scaleX(1.25);
                    transform: rotate(45deg) scaleX(1.25);
        }

.navbar__menu-icon--close-x .navbar__menu-icon__middle {
            opacity: 0;
            -webkit-transform: scaleX(0);
                    transform: scaleX(0);
        }

.navbar__menu-icon--close-x::after {
            -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
                    transform: rotate(-45deg) scaleX(1.25) translateY(1px);    
        }

/*a:-webkit-any-link {*/

/*    color:white;*/

/*}*/

.wrapper {
    padding: 1rem;
}

@media (min-width: 530px){

.wrapper {
    padding-left: 320px;
    padding-right: 48px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}
    }

.skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	 margin: 0;
    
}

.skills-list__icon {
	  padding: 5px 5px 5px 0px;
	  font-size: 3rem;
	  margin: 10px;
 }

.skills__title {
		margin-bottom: 0;
	}

.skills__subheading {
		font-size: 1.35rem;
		font-weight: 500;
		font-family: "Saira Extra Condensed", serif;
		text-transform: uppercase;
		margin-bottom: 1rem;
		color: #868e96;
	}

.interests {
	
 	padding-bottom: 12rem;
}

.interests__title {
        text-transform: uppercase;
        font-size: 2.5rem;
		  font-weight: 700;
		  margin-bottom: 1rem;
	}

.about__title {
	text-transform: uppercase;
	font-size: 2.5rem;
	margin-bottom: 0;
	font-family: "Saira Extra Condensed", sans-serif;
	font-weight: 700;
	font-size: 4rem;
	color: #343a40;
	}

@media (min-width: 530px){

.about__title {
		font-size: 6rem
	}
    }

.about__email {
	color: #bd5d38;	
	}

.about__title-surname {
	color: #bd5d38;
	}

.about__subtitle {
	font-family: "Saira Extra Condensed", sans-serif;
	color: #868e96;
	font-size: 1.35rem;
	font-weight: 500;
	}

@media (min-width: 530px){
    }