.about {

	
	&__title {
	text-transform: uppercase;
	font-size: 2.5rem;
	margin-bottom: 0;
	font-family: "Saira Extra Condensed", sans-serif;
	font-weight: 700;
	font-size: 4rem;
	color: #343a40;
		
		@mixin atSmall {
		font-size: 6rem;	
		}
	}
	
	&__email {
	color: #bd5d38;	
	}
	
	&__title-surname {
	color: #bd5d38;
	}
	
	&__subtitle {
	font-family: "Saira Extra Condensed", sans-serif;
	color: #868e96;
	font-size: 1.35rem;
	font-weight: 500;
	}
	
	
	@mixin atSmall {

	}
}